* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DynaPuff', cursive;
}
body {
	background-color: #8E192D;
}
h1 {
	font-size: 300%;
	color: #FAC85D;
	text-align: center;
	padding: 1rem;
}
h3 {
	font-size: 150%;
	color: #FAC85D;
	text-align: center;
	padding: 1rem;
}

/* Choices that emojis represent */
/* Code from Web Dev simplified as specified in ReadMe */

.choices {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem;
	background-color: #BE4A49;
	border-color: #C0A959;
	border-style: dotted;
	margin: 2rem;
}
.choice {
	cursor: pointer;
	transition: 100ms;
	padding: 1.5rem;
}
.choice>p {
	font-size: 100px;
}
.choice:hover {
	transform: scale(1.7);
}

/* Results in the form of text based on selection of user and computer choice*/
/* Code from Whats dev as specified in ReadMe */

.result {
	font-size: 150%;
	color: #EBBA4A;
	padding: 1rem;
	background-color: #6C7348;
	border-radius: 40%;
	border-color: #C0A959;
	border-style: dashed;
	width: 30%;
	margin: auto;
}
.result>p {
	text-align: center;
}